.kont{
    width: 98.8%;
    height:280px;
    background-color: #9ac2ff;
    margin: 20px auto 50px auto;
    position : absolute;
}

.obj-kont-1 {

    width: 100%;
    height: 60px;
    background-image:url(../img/jalan.png);
    background-position: bottom;
    background-repeat : repeat;
    position:absolute;
    top:230px;
    z-index : 2;
    -moz-animation:kont-1 2s infinite linear;
    -webkit-animation:kont-1 2s infinite linear;
    animation: kont-1 2s infinite linear;
    
}
@-moz-keyframes kont-1{
    from{background-position: 0 0;}
    to{background-position: -190px 0;}
}
@-webkit-keyframes kont-1{
     from{background-position: 0 0;}
    to{background-position: -190px 0;}
   
}


.obj-kont-2{
    width: 100%;
    height :198px;
    background-image:url(../img/gedung.png);
    background-position: bottom;
    background-repeat : repeat;
    position : absolute;
    top : 35px;
    z-index : 1;
   -moz-animation:kont-2 13s infinite linear;
    -webkit-animation:kont-2 13s infinite linear;
    animation: kont-2 13s infinite linear;
    
}
@-moz-keyframes kont-2{
    from{background-position: 0 0;}
    to{background-position: -400px 0;}
}
@-webkit-keyframes kont-2{
     from{background-position: 0 0;}
    to{background-position: -400px 0;}
  } 

.obj-kont-3{
    
    width : 150px;
    height : 63px;
    background-image: url(../img/super.png);
    position: absolute; 
    top:100px;
    left:40%;
    z-index: 3;
    -moz-animation:kont-3 5s infinite linear;
    -webkit-animation:kont-3 5s infinite linear;
    animation: kont-3 5s infinite linear;
}
@-moz-keyframes kont-3{
    0%{top:20px;}
    50%{top:42px;}
    100%{top:20px;}
}
@-webkit-keyframes kont-3{
     0%{top:20px;}
    50%{top:42px;}
    100%{top:20px;}
}